/* You can add global styles to this file, and also import other style files */

.page-item.active .page-link {
    background-color: orange;
    border-color: orange;
}

.page-link {
    color: orange; 
}

.page-link:hover {
    color: orange; 
}
