.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}

.navbar .active {
  color: darkblue;
}

.navbar-brand {
  font-size: 27px;
}

.nav-link {
  margin-left: 10px;
}

.navbar > a {
  cursor: pointer;
}

.dropdown-menu {
  background-color: #ff6600;
}

.dropdown-menu > a:hover{
  color: black;
  cursor: pointer;
}

.dropdown > a:hover{
  text-decoration: none;
}

.dropdown-item {
  color: black;
}








