thead {
    background-color: lightblue;
}

tbody:nth-child(even) {
    background-color: lightgrey;
}

.text-center {
    color: #e6e600;
}

#chart_div {
    display: inline-block;
    margin: 0 auto;
}
