<div class="container-fluid" style="margin-top: 200px;">   
    <div class="d-flex justify-content-center mt-5">
        <div class="col-3">
            <form [formGroup]='forgotPasswordForm' (ngSubmit)="forgotPasswordForm.valid && onSubmit()">
                <h3 class="zigi text-center text-primary">New password will be sent to your email address</h3>
                <app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>            
                <div class="form-group text-center">
                    <button [disabled]='!forgotPasswordForm.valid' 
                    class="btn btn-success mr-2" type="submit">Submit</button>
                </div>
            </form>
            </div>
            </div>
            </div>

