.wiki {
    color: orange;
}

.miki {
    display: inline-table;
}

th {
    width: 50%;
    background-color: sandybrown;
    color: black;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}